@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-foreground: 220 1% 47%;
    --primary-light: 0 0% 100%);
    --primary-dark: 225 7% 11%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --gold-dark: 32 50.2% 56.7%;
    --green-light: 88 18% 84%;
    --green-dark: 171 52% 17%;

    --stroke: 0 0% 88%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    padding:0px;
    margin:0px;
  }
  body {
    background: hsl(var(--primary-light));
    color: hsl(var(--primary-dark));
  }

  html,
  body,
  main,
  :root {
    height: 100%;
    width:100%
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }

  ::-webkit-scrollbar {
    @apply !bwf-hidden;
  }

}

@layer components {
  .bwf-button-welcome {
    background: transparent !important;
    position: relative !important;
    padding: 5px 15px !important;
    display: flex !important;
    align-items: center !important;
    font-size: 17px !important;
    font-weight: 600 !important;
    text-decoration: none !important;
    cursor: pointer !important;
    border: 1px solid #fff !important;
    border-radius: 25px !important;
    outline: none !important;
    overflow: hidden !important;
    color: #fff !important;
    transition: color 0.3s 0.1s ease-out !important;
    text-align: center !important;
  }
  
  .bwf-button-welcome::before {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    margin: auto !important;
    content: '' !important;
    border-radius: 50% !important;
    display: block !important;
    width: 20em !important;
    height: 20em !important;
    left: -5em !important;
    text-align: center !important;
    transition: box-shadow 0.5s ease-out !important;
    z-index: -1 !important;
  }
  
  .bwf-button-welcome:hover {
    color: hsla(var(--primary-light)) !important;
    border: 1px solid #fff !important;
  }
  
  .bwf-button-welcome:hover::before {
    box-shadow: inset 0 0 0 10em #fff !important;
  }


}

.ant-image-mask{
  border-radius:1rem !important;
}

.ant-input-outlined:focus-within{
  border: 1px hsl(var(--gold-dark)) solid !important;
  outline-width: 1px !important;
  outline-color: hsl(var(--gold-dark)) !important;
  outline-offset: 1px !important;
}

.ant-input-outlined:hover{
  border: 1px hsl(var(--gold-dark)) solid !important;
  outline-width: 1px !important;
  outline-color: hsl(var(--gold-dark)) !important;
  outline-offset: 1px !important;
}